# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

/windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugins.cmake
generated_plugins.cmake

/linux/CMakeLists.txt
linux/CMakeLists.txt
CMakeLists.txt

/linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugins.cmake
generated_plugins.cmake


/windows/runner/CMakeLists.txt
windows/runner/CMakeLists.txt
CMakeLists.txt



/windows/CMakeLists.txt
windows/CMakeLists.txt
CMakeLists.txt


/linux/flutter/CMakeLists.txt
linux/flutter/CMakeLists.txt
CMakeLists.txt



/windows/flutter/CMakeLists.txt
windows/flutter/CMakeLists.txt
CMakeLists.txt



**scrnn-2.png
**scrnn-3.png
**Scrnn.png
**GIF.gif